.controller {
    /* margin-left: 800px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.box {
    display: flex;
    justify-content: space-between;
}

.container {
    background-color: black;
}

.graphbox {
    background-color: white;
    width: 490px;
    height: 335px;
}